<div class="input-group">
		<input id="name1" type="text" class="form-control" placeholder="Your name">
		<input id="name2" type="text" class="form-control" placeholder="His or her name">
</div>
<button onClick="showAnswer()" type="button" class="btn btn-primary btn-lg btn-block  btn-custom">Test your relation</button>
<div id="answer"></div>

<script>
	function showAnswer() {
		var name1 = document.getElementById("name1").value
		var name2 = document.getElementById("name2").value
		var answer = flamesGame(name1, name2);
		document.getElementById("answer").innerHTML = answer;
	}
	</script>